//Layout

$Mobile: 375px;
$Desktop: 1440px;

//Colors

$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGray: hsl(0, 0%, 59%);

//Typography

//Body Copy: (text input)

$FontSize: 18px;

//Font

//Family: [Rubik](https://fonts.google.com/specimen/Rubik);
//Weights: 400, 500, 700;